---
interface Props {
  title: string;
  description?: string;
  canonicalPath?: string;
  noIndex?: boolean;
}

const {
  title,
  description = 'AI-powered websites for small businesses. Search for your business and get a professional site in minutes.',
  canonicalPath = '/',
  noIndex = false,
} = Astro.props;

const siteUrl = 'https://sites.megabyte.space';
const fullCanonical = `${siteUrl}${canonicalPath}`;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T48Z6BJJ');</script>
  <!-- End Google Tag Manager -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VBBRRQLDFT" is:inline></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-VBBRRQLDFT');
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
  <title>{title}</title>
  <meta name="description" content={description}>
  <meta name="keywords" content="AI website builder, small business websites, professional site generator, automated web design, business website, project sites, megabyte labs">
  <meta name="author" content="Brian Zalewski">
  <meta name="copyright" content="Megabyte LLC">
  {noIndex ? <meta name="robots" content="noindex, nofollow"> : <meta name="robots" content="index, follow">}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="format-detection" content="telephone=no">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="400">
  <meta name="contact" content="hey@megabyte.space">
  <meta property="fb:app_id" content="669135071652897">
  <meta name="x-rim-auto-match" content="none">
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">
  <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin="anonymous">
  <meta name="geography" content="USA">
  <meta itemprop="image" content={`${siteUrl}/icon-512.png`}>

  <!-- Favicons & App Icons -->
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" type="image/svg+xml" href="/logo-icon.svg">
  <link rel="icon" type="image/png" sizes="32x32" href="/icon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/icon-16.png">
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/icon-180.png">
  <link rel="mask-icon" href="/logo-icon.svg" color="#50a5db">
  <link rel="manifest" href="/site.webmanifest">

  <!-- Mobile Web App -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="Project Sites">
  <meta name="application-name" content="Project Sites">

  <!-- Microsoft -->
  <meta name="msapplication-TileColor" content="#0a0a1a">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="msapplication-starturl" content={siteUrl}>
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="msapplication-tooltip" content="Project Sites: AI-powered websites for small businesses">
  <meta name="msapplication-task" content={`name=Home;action-uri=${siteUrl};icon-uri=${siteUrl}/favicon.ico`}>
  <meta name="theme-color" content="#0a0a1a">

  <!-- Open Graph -->
  <meta property="og:site_name" content="Project Sites">
  <meta property="og:type" content="website">
  <meta property="og:title" content={title}>
  <meta property="og:description" content={description}>
  <meta property="og:image" content={`${siteUrl}/icon-512.png`}>
  <meta property="og:url" content={fullCanonical}>
  <meta property="al:web:url" content={fullCanonical}>

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@MegabyteLabs">
  <meta name="twitter:creator" content="@MegabyteLabs">
  <meta name="twitter:title" content={title}>
  <meta name="twitter:description" content={description}>
  <meta name="twitter:image" content={`${siteUrl}/icon-512.png`}>

  <!-- Canonical -->
  <link rel="canonical" href={fullCanonical}>

  <!-- Preconnect to key CDNs -->
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
  <link rel="dns-prefetch" href="https://us.i.posthog.com">

  <slot name="head" />

</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T48Z6BJJ"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  <!-- Background orbs -->
  <div class="bg-orbs">
    <div class="orb orb-1"></div>
    <div class="orb orb-2"></div>
    <div class="orb orb-3"></div>
  </div>

  <slot />

  <!-- PostHog Tracking -->
  <script is:inline>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.crossOrigin="anonymous",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="init capture register register_once register_for_session unregister opt_in_capturing opt_out_capturing has_opted_in_capturing has_opted_out_capturing clear_opt_in_out_capturing startSessionRecording stopSessionRecording isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload isFeatureEnabled reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getBootstrapData setPersonProperties setPersonPropertiesForFlags".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    var __phKey = document.querySelector('meta[name="x-posthog-key"]');
    if (__phKey && __phKey.content && __phKey.content !== 'none') {
      posthog.init(__phKey.content, { api_host: 'https://us.i.posthog.com', person_profiles: 'identified_only' });
    }
  </script>
</body>
</html>
